section {
    padding-top: 200px;
    text-align: center;

    h1 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 1rem;
    }

    p {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 126px;
    }
}